<!DOCTYPE html>
<html lang="">
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- // include('../partials/header'); %>
</header>

<main>
    <%- //include('../partials/notificationServiceConf') -%>
    <%- include('../partials/configureDeviceDialog')%>
    <table class="configured-devices">
    <caption>Konfigurierte Postfächer</caption>
    <tr>
        <th>ESP-Client ID</th>
        <th>Fachnummer</th>
        <th>Intervall</th>
        <th>Benachrichtigungsziel</th>
    </tr>
<% devices.configured.forEach(device => { %>
    <tr onclick="configureDevice(<%= JSON.stringify(device)%>)">
    <td><%= device.id %></td>
    <td><%= device.boxNumber %></td>
    <td><%= device.checkInterval %></td>
    <td><%= device.subscriber?.join('; ') %></td>
    </tr>
<% }) %>
    </table>

    <table class="found-devices">
   <caption>Weitere gefundene Geräte</caption> 
   <tr>
   <th>ESP-Client ID</th>
   <th>Fachnummer</th>
   <th>Intervall</th>
   <th>Benachrichtigungsziel</th>
   </tr>
   <% devices.toConfigure.forEach(device => { %>
   <tr onclick="configureDevice(<%= JSON.stringify(device) %>)">
   <td><%= device.id %> <input type="hidden" name="id" value="<%=device.id%>"></td>
   <td><%= device.boxnumber %></td>
   <td><%= device.checkInterval %></td>
   <td><%= device.subscriber?.join('; ') %><td>
   </tr>
   <% })%>
    </table>
</main>
<footer>
    <%- //include('../partials/footer'); %>
</footer>

</body>
</html>